<ion-header>

	<ion-navbar color="primary">
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>
			已收藏房間
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="deleteAllFavoriteRooms()">
                <ion-icon name="trash"></ion-icon>
            </button>
		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content padding>

	<ion-list *ngIf="favoriteRooms.length > 0">

		<ion-item-sliding *ngFor="let favoriteRoom of favoriteRooms">

			<ion-item (click)="goToRoomDetailPage(favoriteRoom._id)">

				<h2>{{ favoriteRoom.centerName }}</h2>

				<img class="card-img" src="{{ host + '/cfs/files/Attachments/' +  favoriteRoom.images[0] }}" />-->

				<p>{{ favoriteRoom.description }}</p>

			</ion-item>

			<ion-item-options>
				<button ion-button color="danger" (click)="removeFromFavorites(favoriteRoom._id)">
         		 	<ion-icon name="trash"></ion-icon>
         			 Delete
        		</button>

			</ion-item-options>

		</ion-item-sliding>

	</ion-list>

	<ion-item *ngIf="favoriteRooms.length == 0">
		沒有任何已收藏的房間
	</ion-item>

</ion-content>