<ion-list radio-group no-margin>
	<ion-list-header no-margin>
		排序選項
	</ion-list-header>
	<ion-item>
		<ion-label>價錢 - 由低價開始</ion-label>
		<ion-radio checked (click)="sort_price_lowToHigh()" *ngIf="selectedFilterValue === 'sort_price_lowToHigh'"></ion-radio>
		<ion-radio (click)="sort_price_lowToHigh()" *ngIf="selectedFilterValue !== 'sort_price_lowToHigh'"></ion-radio>

	</ion-item>
	<ion-item>
		<ion-label>價錢 - 由高價開始</ion-label>

		<ion-radio checked (click)="sort_price_highToLow()" *ngIf="selectedFilterValue === 'sort_price_highToLow'"></ion-radio>

		<ion-radio (click)="sort_price_highToLow()" *ngIf="selectedFilterValue !== 'sort_price_highToLow'"></ion-radio>


	</ion-item>

</ion-list>