page-room {
  .normal-slides {
    height: 33vh;
  }
  sebm-google-map {
    height: 250px;
  }
  .weekview-allday-table {
    display: none;
  }
  .weekview-normal-event-container {
    margin-top: 40px;
  }
  .scroll-content {

  }
  calendar {
    height: 50px;
  }
}
