<ion-menu [content]="content">

  <ion-header>

    <ion-toolbar color="primary">
      <ion-title></ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>

    <ion-list no-margin>

      <button class="menu-content" ion-item no-lines
              *ngFor="let page of mainPages"
              (click)="openPage(page)">

        <ion-icon [name]="page.icon" item-left></ion-icon>
        {{ page.title }}

      </button>

    </ion-list>

    <hr>

    <ion-list no-margin>

      <button ion-item no-lines
              *ngFor="let page of infoPages"
              (click)="openPage(page)">

        <p>{{page.title}}</p>

      </button>

    </ion-list>

    <hr>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="tabsPage" #content swipeBackEnabled="false"></ion-nav>
