<ion-header>
	<ion-navbar color="primary">
		<ion-title color="header">
			搜尋結果
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-refresher (ionRefresh)="onSearchRooms($event)">
		<ion-refresher-content pullingText="拉下更新搜尋結果" refreshingText="更新中...">
		</ion-refresher-content>
	</ion-refresher>

	<ion-card *ngFor="let room of rooms; let i = index" (click)="onGoToRoomDetailPage(room.id)">

		<img class="card-img" *ngIf="room.images.length > 0" src="{{ host + '/cfs/files/Attachments/' + room.images[0] }}" />
		<!--<img  *ngIf="room.images.length > 0" src="data:image/png;base64," + {{room.images[0]}} />-->

		<ion-card-content>
			<ion-card-title>
				HK${{ room.price }} / 小時
			</ion-card-title>

			<p>{{ room.districtDescription + " " + room.roomTypeDescription }}</p>

		</ion-card-content>

	</ion-card>

	<ion-fab bottom right>
		<button ion-fab color="primary" (click)="ShowFilter()">
			<ion-icon name="funnel"></ion-icon>
		</button>

	</ion-fab>
</ion-content>