page-bookform {
  .normal-slides {
    height: 33vh;
  }
  sebm-google-map {
    height: 250px;
  }
  .weekview-allday-table {
    display: none;
  }
  .weekview-normal-event-container {
    margin-top: 37px;
  }
  calendar {
    height: 100%;
    width: 100%
  }

}
