<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>
			搜尋
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="onSearchRooms()">
          		<ion-icon name="search"></ion-icon> 
      		</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-list>

		<ion-item>
			<ion-label>
				<ion-icon name="globe"></ion-icon>
				地區
			</ion-label>
			<ion-select [(ngModel)]="searchCriterias.districtCode" placeholder="屯門/觀塘/荃灣">
				<ion-option *ngFor="let distrct of districts" value="{{distrct.code}}">{{ distrct.description }}
				</ion-option>
			</ion-select>
		</ion-item>

		<!--<ion-item>
			<ion-label>
				<ion-icon name="calendar"></ion-icon>
				日期
			</ion-label>

			<ion-input type="date" min="{{minDate}}" max="{{maxDate}}" [(ngModel)]="searchCriterias.searchDate"></ion-input>
			<!--<button ion-button item-right color="light" (click)="onInputDate()">-->

			<!--<ion-label placeholder="選擇日期">{{ searchCriterias.searchDate.toDateString() }}</ion-label>-->

			<!--</button>-->

		<!--</ion-item>-->
		<ion-item>
			<ion-label>
				<ion-icon name="key"></ion-icon>
				房間類型
			</ion-label>
			<ion-select [(ngModel)]="searchCriterias.roomTypeCode" placeholder="BAND房/鋼琴房/鼓房">
				<ion-option *ngFor="let roomType of roomTypes" value="{{roomType.code}}">{{ roomType.description }}
				</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>可用作教學</ion-label>
			<ion-toggle [(ngModel)]="searchCriterias.canUseAsTeaching"></ion-toggle>
		</ion-item>

		<ion-item>
			<ion-label>具備電子琴</ion-label>
			<ion-toggle [(ngModel)]="searchCriterias.keyboardRequired"></ion-toggle>
		</ion-item>

		<ion-item>
			<ion-label>
				<ion-icon name="people"></ion-icon>
				人數
			</ion-label>
			<ion-select [(ngModel)]="searchCriterias.people" placeholder="1-8">
				<ion-option value="1">1</ion-option>
				<ion-option value="2">2</ion-option>
				<ion-option value="3">3</ion-option>
				<ion-option value="4">4</ion-option>
				<ion-option value="5">5</ion-option>
				<ion-option value="6">6</ion-option>
				<ion-option value="7">7</ion-option>
				<ion-option value="8">8</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>每小時價錢 {{searchCriterias.priceRange.lower === 0 ? '免費': '$' + searchCriterias.priceRange.lower}} ~ {{searchCriterias.priceRange.upper
				=== 0 ? '免費': '$' + searchCriterias.priceRange.upper}}

			</ion-label>

			<ion-range [(ngModel)]="searchCriterias.priceRange" max="300" dualKnobs="true" pin="true" step="10">

				<ion-icon range-left small name="pricetag"></ion-icon>
				<ion-icon range-right name="pricetags"></ion-icon>
			</ion-range>
		</ion-item>

	</ion-list>

</ion-content>